html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto;
  letter-spacing: -0.03em;
}

html {
	scrollbar-color: #e15342 #f5f5f5;
	scrollbar-width: thin;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e15342;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#__next {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
